<div style="display: flex; width: 100%; margin-top: 16px;" class="vertical-space">
  <a [href]="pictureUrl"><img [src]="pictureUrl"
          style="border-radius:50%; border: 5px solid #fef6e5; width: 60px;" class="horizontal-space"
          alt="Picture of {{child?.name}}"></a>
  <div style="flex-grow: 1;">
      <h3 class="mat-h3 vertical-space">{{child!!.name}}</h3>
      <button type="button" color="accent" mat-flat-button (click)="onUpdateImage()">Update Picture</button>
  </div>
</div>
<mat-divider class="vertical-space"></mat-divider>